<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> STACKOVERFLOW-LITE </title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
    <!-- Header -->
	<header id="header">
        <h1> STACKOVERFLOW-LITE </h1>
        <nav id="nav">
            <ul>
                <li>Home</li>
                <li><a href="register.html">Register</a></li>
            </ul>
        </nav>
    </header>
               
    <div id="mainContent">
        <h2>Welcome to STACKOVERFLOW-LITE App<h2>
        <p>What is STACKOVERFLOW-LITE App? It is an application that
          provides users with the ability to ask and answer 
          questions of their interest.
        </p>
    </div>		
                
    <div class="loginBox">
        <h2>Login Here</h2>
        <form>
            <p>Email</p>
            <input type="text" name="" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" name="" placeholder="Password">
            <input type="submit" name="" value="Sign In">
        </form>
    </div>
    
</body>
</html>